<div class="container">
    <div class="row">
        <div class="col l6 m6 s6">
            <h5 class="white-text">ArtX</h5>
        </div>
        <div class="col l6 m6 s6">
            <p class="grey-text text-lighten-4"> Made with &hearts; for Art </p>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
    © 2022 Copyright The Yashprime StartupX
    </div>
</div>
<script type="text/javascript" src="/js/navbar.js"></script>
