<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

  <div class="row">
    <div class="col s2 m3 l3"></div>
    <div class="col s8 m6 l6">
        <h5 class="center-align"> About Art<span style="color:red;">X</span> </h5>
    </div>
    <div class="col s2 m3 l3"></div>
</div>    

<div class="row">
  <div class="col s12 m12 l12">
    <img class="materialboxed responsive-img"  style="width: 200px;height: 200px; padding: 30px;margin-left: auto;margin-right: auto;display: block;" src="/images/about.jpg" >
    <p class="center-align"> Made with &#x2665; by <span style="color:red;"> The Yashprime StartupX </span> for the ones who want to share there art with others</p>
  </div>
  
 
  </div>   
</main>

<footer class="page-footer">
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>